.row{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
}
#forlk{
    width: 20px;
    height: 30px;
    display: flex;
    top: 0%;
}
